.navbarHeader {
    display: flex;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    padding: 16px 32px;
}

.navbarLayout {
    width: 100%;
}

.chevronRoute {
    display: flex;
    gap: 16px;
}

.btnChevron {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    border: none;
}

.VgSbatGBB9XwTH2_dsxg .IYDlXmBmmUKHveMzIPCF {
    opacity: 1;
}

.kcBZLg {
    fill: currentcolor;
}

.buttonNavbar{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    cursor: pointer;
    border-radius: 500px;
    border: 0px;
    padding: 8px 0;
}

.buttonNavbarContainer {
    display: flex;
}

.buttonNavbarContainer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.buttonNavbarContainer ul li button {
}

.buttonLogup {
    padding-left: 8px;
    padding-right: 32px;
}

.lineNavbar {
    background: #fff;
    height: 25px;
    margin: 16px;
    width: 1px;
}

.buttonLogin {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 500px;
    border: 0px;
    padding: 8px 32px;
}

.login {
    display: flex;
}