@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&family=Roboto:wght@300;400;700&display=swap');

:root {
    --primary-color-base: #1ed760;
    --background-noise: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=);
    --primary-color-highlight: #1fdf64;
    --card-container-border-radius: clamp(4px,(var(--column-width,0px) - 32px) * 0.025,8px);
    --card-image-border-radius: clamp(4px,(var(--column-width,0px) - 32px) * 0.025,8px);
    --primary-color-press: #169c46;
    --white-color: #fff;
    --black-color: #000;
    --navbar-height: 64px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #A7A7A7;
}

ul {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Header */

.header {
    display: flex;
    position: relative;
    height: 30vh;
    max-height: 500px;
    min-height: 340px;
    padding: 0 32px 24px 32px;
}
.colorThumbail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.colorShadowThumbail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%),var(--background-noise);
}

.title {
    font-size: 0.875rem;
    font-weight: 700;
}

.nameContent {
    line-height: normal;
    margin-top: 8px;
    overflow: hidden;
    text-align: left;
    width: 100%;
    word-break: break-word;
}

.nameContent h1 {
    font-weight: 900;
    margin: 0.08em 0px 0.12em;
    visibility: visible;
    width: 100%;
    font-size: 6rem;
}

.thumbail {
    width: 232px;
    height: 232px;
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    margin-right: 24px;
    z-index: 0
}

.thumbail img {
    width: 232px;
    height: 232px;
    box-shadow: 0 4px 60px rgba(0,0,0,.5);;
}

.content {
    z-index: 0;
    color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1;
}

.nameContent {
    display: flex;
}

.description {
    display: flex;
    align-items: center;
}

.description div img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 4px;
}

.description div {
    display: flex;
    align-items: center;
}

.description div span {
    font-size: 0.875rem;
    font-weight: 700;
}


.dot::before {
    content: "•";
    margin: 0 4px;
    font-size: 0.875rem;
    font-weight: 400;
}
/* Card */

.card {
    width: 188px;
    height: 278px;
    background: #181818;
    border-radius: calc(var(--card-container-border-radius) + 2px);
    isolation: isolate;
    padding: 16px;
    transition: background-color .3s ease;
    position: relative;
    cursor: pointer;
}

.card:hover {
    background: #282828;
}

.card:hover .cardPlay {
    opacity: 1;
}

.cardContainer {
    width: 100%;
}

.cardThumbail {
    width: 100%;
    height: 100%;
    margin-bottom: 16px;
    position: relative;
}

.cardImage {
    border-radius: var(--card-image-border-radius);
    box-shadow: 0 8px 24px rgba(0,0,0,.5);
    position: relative;
}

.cardImage img {
    border-radius: var(--card-image-border-radius);
    width: 100%;
    height: 100%;
}

.cardPlay {
    position: absolute;
    opacity: 0;
    right: 8px;
    bottom: 12px;
    width: 48px;
    height: 48px;
    pointer-events: none;
    border-radius: 500px;
    box-shadow: 0 8px 8px rgba(0,0,0,.3);
    transition: all .3s ease;
    z-index: 2;
}

.cardPlay button {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0px;
    border-radius: 500px;
    cursor: pointer;
    z-index: 1;
}

.iconButtonCard {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-base, #1ed760);
    border-radius: 500px;
    width: 100%;
    height: 100%;
}

.innerButtonCard {

}

.cardSongs {
    min-height: 62px;
}

.cardSongs a {
    padding-bottom: 4px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}

.cardSongs div {
    margin-top: 4px;
}

.cardSongs div a {
    font-weight: 400;
    font-size: 1.125rem;
    color: #b3b3b3;
}