<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Sweetalert2 library-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">

    <!------------------------------ morris chart cdn ------------------------------>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../../css/admin.css">

    <title>Admin page manager</title>
</head>

<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="logoAdmin fa fa-brands fa-spotify fa-2xl" style="color: #1ed760;"></i></span>
                        <span class="title">
                            <h2>Spotify</h2>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="admin.php?page=home">
                        <span class="icon"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="admin.php?page=product" id="input-product">
                        <span class="icon"><i class="fa fa-keyboard-o" aria-hidden="true"></i></span>
                        <span class="title">Song</span>
                    </a>
                </li>
                <li>
                    <a href="admin.php?page=bill" >
                        <span class="icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
                        <span class="title">Album</span>
                    </a>
                </li>

                <li>
                    <a href="admin.php?page=account">
                        <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <span class="title">Podcast</span>
                    </a>
                </li>
                <li>
                    <a href="admin.php?page=statistical">
                        <span class="icon"><i class="fa fa-table" aria-hidden="true"></i></span>
                        <span class="title">User</span>
                    </a>
                </li>
                
                <li>
                    <a href="./../handle_logout.php">
                        <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="topbar">
            <div class="toggle" onclick="toggleMenu();"></div>
            <div class="search">
                <label for="">
                    <input id="search-input" type="text" placeholder="search here">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </label>
            </div>
            <div class="user">
                <img src="../../assets/images/obitouchiha.jpg" alt="obito-avatar">
            </div>
        </div>
        <!-- Content -->
        <div class="containerAdmin">
            <div class="contentAdmin">
                <h3>Album Tracks</h3>
                <div class="listAlbumTracks">
                    <div class="itemAlbumTracks">
                        <img src="../../assets/images/album1.jpg" alt="">
                        <h4>That’s Not How This Works (feat. Dan + Shay)</h4>
                        <p>Charlie Puth, Dan + Shay</p>
                    </div>
                    <div class="itemAlbumTracks">
                        <img src="../../assets/images/album2.jpg" alt="">
                        <h4>Carry Me Out</h4>
                        <p>Mark Tuan</p>
                    </div>
                    <div class="itemAlbumTracks">
                        <img src="../../assets/images/album3.jpg" alt="">
                        <h4>No Explanations</h4>
                        <p>Stephanie Poetri, Elephante, ZHANG...</p>
                    </div>
                    <div class="itemAlbumTracks">
                        <img src="../../assets/images/album4.jpg" alt="">
                        <h4>Avatars Of The Night</h4>
                        <p>Sondre Lerche</p>
                    </div>
                    <div class="itemAlbumTracks">
                        <img src="../../assets/images/album5.jpg" alt="">
                        <h4>Stand by Dream</h4>
                        <p>Mango Street Papa 芒果街老爸</p>
                    </div>
                    <div class="itemAlbumTracks">
                        <img src="../../assets/images/album6.jpg" alt="">
                        <h4>Say Say Say (feat. Paul McCartney & Michael Jackson)</h4>
                        <p>Kygo</p>
                    </div>
                </div>
                <h3>Overview</h3>
                <div class="listTotalSpotify">
                    <div class="itemTotalSpotify">
                        <span class="bgSongs"><img src="../../assets/icons/icons8-song-32.png" alt=""></span>
                        <div class="totalSpotify">
                            <h4 class="cSongs">12,500K</h4>
                            <p>Total Songs</p>
                        </div>
                    </div>
                    <div class="itemTotalSpotify">
                        <span class="bgAlbums"><img src="../../assets/icons/icons8-albums-32.png" alt=""></span>
                        <div class="totalSpotify">
                            <h4 class="cAlbums">5,600K</h4>
                            <p>Total Albums</p>
                        </div>
                    </div>
                    <div class="itemTotalSpotify">
                        <span class="bgArtists"><img src="../../assets/icons/icons8-headphone-32.png" alt=""></span>
                        <div class="totalSpotify">
                            <h4 class="cArtists">7,515K</h4>
                            <p>Total Artists</p>
                        </div>
                    </div>
                    <div class="itemTotalSpotify">
                        <span class="bgPodcasts"><img src="../../assets/icons/icons8-podcasts-32.png" alt=""></span>
                        <div class="totalSpotify">
                            <h4 class="cPodcasts">1,780K</h4>
                            <p>Total Podcasts</p>
                        </div>
                    </div>
                </div>
                <!-- Char -->
                <!-- Start by adding a <div> to your page that will contain your chart. Make sure it has an ID so you can refer to it in your Javascript later. -->
                <div style="display: flex; justify-content: space-between;">
                    <div id="myfirstchart" style="height: 250px; width: 70%; margin-top: 20px; background-color: #fff; border-radius: 8px;"></div>
                    <div id="mysecondchart" style="height: 250px; width: 28%; margin-top: 20px; background-color: #fff; border-radius: 8px;"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function toggleMenu() {
            let toggle = document.querySelector('.toggle');
            let navigation = document.querySelector('.navigation');
            let main = document.querySelector('.main');
            toggle.classList.toggle('active');
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }

        new Morris.Line({
            // ID of the element in which to draw the chart.
            element: 'myfirstchart',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: [
                { year: '2008', value: 20 },
                { year: '2009', value: 10 },
                { year: '2010', value: 5 },
                { year: '2011', value: 5 },
                { year: '2012', value: 20 }
            ],
            // The name of the data record attribute that contains x-values.
            xkey: 'year',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['value'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            hideHover: 'auto',
            stacked: true,
            parseTime: false,
            lineColors: ['Skyblue', 'Pink']
        });

        Morris.Donut({
            element: 'mysecondchart',
            data: [
                {label: "Download Sales", value: 12},
                {label: "In-Store Sales", value: 30},
                {label: "Mail-Order Sales", value: 20}
            ]
        });


    </script>
</body>

</html>